html, body {
    width: 100%;
    height: 100%;
}

input[type=number] {
    width: 40px;
    margin: 0;
}

.control_container {
    position: relative;
    width: 25%;
    height: 100%;
    padding: 10px;
    z-index: 10000;
}

a-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

div#messages {
    height: 250px;
    width: 500px;
    border-left: 6px solid rgb(0, 153, 255);
    background-color: rgb(204, 230, 255);
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

ul#message_area {
    overflow: auto;
    height: 190px;
    padding: 0px;
}
